/* Write your code here. */
.emoji-card-item {
  border: 1px solid #ffffff30;
  margin-right: 5px;
  width: 100px;
  height: 100px;
  background-color: #ffffff33;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-bottom: 10px;
}

.emoji {
  width: 50px;
}

.emoji-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
