/* Write your code here. */
.app-header {
  background-color: #9796f0;
  height: 80px;
  display: flex;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff33;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.header-name {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}
.emoji-logo {
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.logo-container {
  display: flex;
}
.header-score {
  font-family: roboto;
  color: #ffffff;
  font-size: 18px;
  margin-right: 20px;
}
.header-score-container {
  display: flex;
}
