/* Write your code here. */
.app-header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #b09ddc;
  padding: 30px;
  height: 100px;
}

.header-content {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
}
.emoji-logo {
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

.logo-container {
  display: flex;
}
.header-score {
  font-family: roboto;
  color: #ffffff;
  font-size: 18px;
  margin-right: 20px;
}
.header-score-container {
  display: flex;
}
